connector_bots/doc/schemas/StockReport_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Work_in_Progress_Stock">

		<xs:complexType/>

	</xs:element>

	<xs:element name="VAT-number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Total_Nbrs_of_Rec">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Time_the_stock_was_determined">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telephone_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telefax_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Sub_inventory_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Sender_Identification">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Segment_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SR99R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_number"/>

				<xs:element ref="RecordType"/>

				<xs:element ref="Total_Nbrs_of_Rec"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="SR8AR">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_number"/>

				<xs:element ref="Lot_external_reference"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="Expected_in"/>

				<xs:element ref="Physical_stock_available"/>

				<xs:element ref="Expected_out"/>

				<xs:element ref="Reserved_sufficient"/>

				<xs:element ref="Reserved_insufficient"/>

				<xs:element ref="Number_of_units_physical_stock_in_MUS"/>

				<xs:element ref="Date_the_stock_was_determined"/>

				<xs:element ref="Time_the_stock_was_determined"/>

				<xs:element ref="Custom_Status"/>

				<xs:element ref="Article_reference"/>

				<xs:element ref="Article_description"/>

				<xs:element ref="Work_in_Progress_Stock"/>

				<xs:element ref="Sub_inventory_code"/>

				<xs:element ref="SKU_allocation_date"/>

				<xs:element ref="Manufacturer_lot_reference"/>

				<xs:element ref="Lot_aspect_value_1"/>

				<xs:element ref="Lot_aspect_value_2"/>

				<xs:element ref="Lot_aspect_value_3"/>

				<xs:element ref="Article_Description_in_foreign_language"/>

				<xs:element ref="Product_code_qualifier"/>

				<xs:element ref="Product_code"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="SR72R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_number"/>

				<xs:element ref="Company_name_1"/>

				<xs:element ref="Company_name_2"/>

				<xs:element ref="Address_1"/>

				<xs:element ref="House_number"/>

				<xs:element ref="House_number_extension"/>

				<xs:element ref="Address_3"/>

				<xs:element ref="Postal_code"/>

				<xs:element ref="Place_name"/>

				<xs:element ref="Country_code"/>

				<xs:element ref="Language_code"/>

				<xs:element ref="Telephone_number"/>

				<xs:element ref="Telefax_number"/>

				<xs:element ref="VAT-number"/>

				<xs:element ref="Name_abbreviated"/>

				<xs:element ref="Address_2"/>

				<xs:element ref="Address_4"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="SR70R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_number"/>

				<xs:element ref="Party_qualifier"/>

				<xs:element ref="Party_external_reference"/>

				<xs:element ref="SR72R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="SR00R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_number"/>

				<xs:element ref="Sender_Identification"/>

				<xs:element ref="Message_Identification"/>

				<xs:element ref="Message_date"/>

				<xs:element ref="Message_time"/>

				<xs:element ref="Message_type-Identifier"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="SR">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="SR00R"/>

				<xs:element ref="SR70R"/>

				<xs:element ref="SR8AR"/>

				<xs:element ref="SR99R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="SKU_allocation_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reserved_sufficient">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reserved_insufficient">

		<xs:complexType/>

	</xs:element>

	<xs:element name="RecordType">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_code_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Postal_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Place_name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Physical_stock_available">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_external_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_units_physical_stock_in_MUS">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Name_abbreviated">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_type-Identifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_Identification">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Manufacturer_lot_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Lot_external_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Lot_aspect_value_3">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Lot_aspect_value_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Lot_aspect_value_1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Language_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_number_extension">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Expected_out">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Expected_in">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date_the_stock_was_determined">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Custom_Status">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_name_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_name_1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Description_in_foreign_language">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_4">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_3">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_1">

		<xs:complexType/>

	</xs:element>

</xs:schema>

