connector_bots/doc/schemas/WarehouseEntryOrder_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by Mette Andreassen (DSV A/S) -->

<!--W3C Schema generated by XMLSpy v2013 rel. 2 sp2 (http://www.altova.com)-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="_nett_weight">

		<xs:complexType/>

	</xs:element>

	<xs:element name="_nett_volume">

		<xs:complexType/>

	</xs:element>

	<xs:element name="_customs_value">

		<xs:complexType/>

	</xs:element>

	<xs:element name="_VAT">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Warehouse_location">

		<xs:complexType/>

	</xs:element>

	<xs:element name="WEO99R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="0">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="RecordType"/>

				<xs:element ref="Total_Nbrs_of_Rec"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO52R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="SKU_ident_nr"/>

				<xs:element ref="Idenr_nr_Group_Seq"/>

				<xs:element ref="Idenrnr_palletCrate"/>

				<xs:element ref="Expiry_date"/>

				<xs:element ref="External_Box_number"/>

				<xs:element ref="External_Pallet_nr"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO51R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="2">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="SKU_Reference"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO50R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="3">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="Aspect_val_specified"/>

				<xs:element ref="Descript_of_aspect"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO49R">

		<xs:complexType>

			<xs:sequence minOccurs="0">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Reference_qualifier"/>

				<xs:element ref="Reference_number"/>

				<xs:element ref="Free_form_descript"/>

				<xs:element ref="Date"/>

				<xs:element ref="Time"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO48R">

		<xs:complexType>

			<xs:sequence maxOccurs="6">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Customs_value_qual"/>

				<xs:element ref="Customs_value"/>

				<xs:element ref="Positive-sign"/>

				<xs:element ref="Invoice_number"/>

				<xs:element ref="Invoice_date"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO47R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="99">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Customs_comm_ref"/>

				<xs:element ref="Nbr_per_customs_comm"/>

				<xs:element ref="_nett_weight"/>

				<xs:element ref="_nett_volume"/>

				<xs:element ref="_customs_value"/>

				<xs:element ref="Descrip_1_cust_comm"/>

				<xs:element ref="Descrip_2_cust_comm"/>

				<xs:element ref="Descrip_3_cust_comm"/>

				<xs:element ref="Descrip_4_cust_comm"/>

				<xs:element ref="_VAT"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO46R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="11">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Language_Code"/>

				<xs:element ref="Article_Desciption"/>

				<xs:element ref="Article_Description_long"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO45R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="3">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Product_Code_Qual"/>

				<xs:element ref="Product_Code"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO43R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="OrderLine_Remark"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO42R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="99">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="Serial_nr_ident"/>

				<xs:element ref="Number_of_packages"/>

				<xs:element ref="Pallet-ident"/>

				<xs:element ref="Production_number"/>

				<xs:element ref="Pallet_sequence_nbr"/>

				<xs:element ref="Production_date"/>

				<xs:element ref="Pallet_gross_weight"/>

				<xs:element ref="Quality_control_sts"/>

				<xs:element ref="Ind_cross_docking"/>

				<xs:element ref="Description"/>

				<xs:element ref="Pallet_type"/>

				<xs:element ref="Production_date"/>

				<xs:element ref="Warehouse_location"/>

				<xs:element ref="Ref_Identification_qualifier"/>

				<xs:element ref="Ref_Identification"/>

				<xs:element ref="Quantity"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO40R">

		<xs:complexType>

			<xs:sequence maxOccurs="999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Orderline_ID"/>

				<xs:element ref="Article_Ref"/>

				<xs:element ref="SKU_Reference"/>

				<xs:element ref="Customs_Status_from"/>

				<xs:element ref="Customs_Status_to"/>

				<xs:element ref="Country_of_Origin"/>

				<xs:element ref="Country_of_Despatch"/>

				<xs:element ref="Currency_customs_val"/>

				<xs:element ref="UNDG_nummer"/>

				<xs:element ref="UNDG_extension_nr"/>

				<xs:element ref="Type_of_package"/>

				<xs:element ref="Number_of_packages"/>

				<xs:element ref="Gross_weight_per_type_of_package_in_kilograms"/>

				<xs:element ref="Measure_unit_specifier"/>

				<xs:element ref="Number_of_units_measure_unit_specifier"/>

				<xs:element ref="Nett_weight_per_unit_measure_unit_specifier_in_kilograms"/>

				<xs:element ref="Number_of_units_measure_unit_specifier_per_type_of_package"/>

				<xs:element ref="Customs_document_type"/>

				<xs:element ref="Customs_document_number"/>

				<xs:element ref="Orderline_remarks"/>

				<xs:element ref="SKU_allocation_date"/>

				<xs:element ref="Net_volume_per_unit_measure_unit_specifier"/>

				<xs:element ref="Code_type_of_package_1_Type-1"/>

				<xs:element ref="Type-1_length_in_cm"/>

				<xs:element ref="Type-1_width_in_cm"/>

				<xs:element ref="Type-1_height_in_cm"/>

				<xs:element ref="Nr_of_units_measure_unit_specifier_per_type-1"/>

				<xs:element ref="Gross_weight_per_type-1_in_kgm"/>

				<xs:element ref="Code_type_of_package_2_Type-2"/>

				<xs:element ref="Type-2_length_in_cm"/>

				<xs:element ref="Type-2_width_in_cm"/>

				<xs:element ref="Type-2_height_in_cm"/>

				<xs:element ref="Nr_of_type-1_per_type-2"/>

				<xs:element ref="Gross_weight_per_type-2_in_kgm"/>

				<xs:element ref="Code_type_of_package-3"/>

				<xs:element ref="Type-3_length_in_cm"/>

				<xs:element ref="Type_of_package-3_width_in_cm"/>

				<xs:element ref="Type-3_height_in_cm"/>

				<xs:element ref="Nr_of_type-2_per_type-3"/>

				<xs:element ref="Gross_weight_per_type-3_in_kgm"/>

				<xs:element ref="Alcohol_percentage_per_type-1"/>

				<xs:element ref="Code_repackaging_after_entry"/>

				<xs:element ref="Indicator_external_repackaging_department"/>

				<xs:element ref="Indicator_identical_box_contents"/>

				<xs:element ref="Principal_orderline_reference"/>

				<xs:element ref="Measure_unit_specifier_factor"/>

				<xs:element ref="Indicator_quality_check"/>

				<xs:element ref="SKU_allocation_date"/>

				<xs:element ref="SKU_subdivision"/>

				<xs:element ref="Customs_document_number"/>

				<xs:element ref="Customs_office"/>

				<xs:element ref="Document_date"/>

				<xs:element ref="Entry_issue_number"/>

				<xs:element ref="Document_reference"/>

				<xs:element ref="Alternative_fifo_date"/>

				<xs:element ref="Supplementary_document_type"/>

				<xs:element ref="Supplementary_document_number"/>

				<xs:element ref="Supplementary_document_date"/>

				<xs:element ref="Supplementary_document_national_preference"/>

				<xs:element ref="Supplementary_document_communautair_preference"/>

				<xs:element ref="Supplementary_document_indicator_free_of_ID"/>

				<xs:element ref="Reference_identification_qualifier"/>

				<xs:element ref="Reference_identification"/>

				<xs:element ref="Quantity"/>

				<xs:element ref="Batch_or_Lot_number"/>

				<xs:element ref="Indicator_scan_serial_number_Y_N_E"/>

				<xs:element ref="WEO42R"/>

				<xs:element ref="WEO43R"/>

				<xs:element ref="WEO45R"/>

				<xs:element ref="WEO46R"/>

				<xs:element ref="WEO47R"/>

				<xs:element ref="WEO48R"/>

				<xs:element ref="WEO49R"/>

				<xs:element ref="WEO50R"/>

				<xs:element ref="WEO51R"/>

				<xs:element ref="WEO52R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO36R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="7">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Party_Day_indicator"/>

				<xs:element ref="Open_del_morning"/>

				<xs:element ref="Close_del_morning"/>

				<xs:element ref="Open_deps_morning"/>

				<xs:element ref="Close_desp_morning"/>

				<xs:element ref="Open_del_afternoon"/>

				<xs:element ref="Close_del_afternoon"/>

				<xs:element ref="Open_deps_afternoon"/>

				<xs:element ref="Close_desp_afternoon"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO35R">

		<xs:complexType>

			<xs:sequence minOccurs="0">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="PO-Box_Number"/>

				<xs:element ref="Postal_Code_PO-Box"/>

				<xs:element ref="Place_PO-Box"/>

				<xs:element ref="Country_Code_PO-Box"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO34R">

		<xs:complexType>

			<xs:sequence minOccurs="0">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Contact_Person_Name"/>

				<xs:element ref="Contact_person_depar"/>

				<xs:element ref="Contact_person_Tel"/>

				<xs:element ref="Contact_person_Func"/>

				<xs:element ref="Sex_Code"/>

				<xs:element ref="Name_Abbrev"/>

				<xs:element ref="Contact_person_Fax"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO32R">

		<xs:complexType>

			<xs:sequence minOccurs="0">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Company_Name_1"/>

				<xs:element ref="Company_Name_2"/>

				<xs:element ref="Address_1"/>

				<xs:element ref="House_Number"/>

				<xs:element ref="House_Number_Extsn"/>

				<xs:element ref="Address_3"/>

				<xs:element ref="Postal_Code"/>

				<xs:element ref="Place_Name"/>

				<xs:element ref="Country_Code"/>

				<xs:element ref="Language_code"/>

				<xs:element ref="Telephone_Number"/>

				<xs:element ref="Telefax_Number"/>

				<xs:element ref="VAT-number"/>

				<xs:element ref="Name_abbreviated"/>

				<xs:element ref="Address_2"/>

				<xs:element ref="Address_4"/>

				<xs:element ref="Party_Id"/>

				<xs:element ref="Code_List_Agency_CD"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO30R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="9">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_Party_Qual"/>

				<xs:element ref="Party_External_Ref"/>

				<xs:element ref="Client_Ref_to_Order"/>

				<xs:element ref="GLN_code"/>

				<xs:element ref="WEO32R"/>

				<xs:element ref="WEO34R"/>

				<xs:element ref="WEO35R"/>

				<xs:element ref="WEO36R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO20R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_Remark"/>

				<xs:element ref="Order_Remark_Qual"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO18R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="SKU_reference"/>

				<xs:element ref="Number_of_pieces"/>

				<xs:element ref="Type_of_package"/>

				<xs:element ref="Number_of_units_MUS"/>

				<xs:element ref="SKU_subdivision"/>

				<xs:element ref="Country_of_Origin"/>

				<xs:element ref="Country_of_Despatch"/>

				<xs:element ref="Custom_Status_From"/>

				<xs:element ref="Currency_customs_val"/>

				<xs:element ref="Goods_value_per_Box"/>

				<xs:element ref="PO-Number"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO16R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="External_Box_Ref"/>

				<xs:element ref="Gross_Volume"/>

				<xs:element ref="Gross_Weight"/>

				<xs:element ref="Carton_SSCC"/>

				<xs:element ref="WEO18R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO12R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="99">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Reference_Qual"/>

				<xs:element ref="Reference_Number"/>

				<xs:element ref="Free_Form_Descr"/>

				<xs:element ref="Date"/>

				<xs:element ref="Time"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO10R">

		<xs:complexType>

			<xs:sequence maxOccurs="9999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_Type"/>

				<xs:element ref="Indicator_Transport"/>

				<xs:element ref="Order_Reference" minOccurs="0"/>

				<xs:element ref="Indicator_Labelling"/>

				<xs:element ref="Indicator_contact_cl"/>

				<xs:element ref="Code_date_expected" minOccurs="0"/>

				<xs:element ref="Date_Expected" minOccurs="0"/>

				<xs:element ref="Terms_of_Delivery" minOccurs="0"/>

				<xs:element ref="Transp_means_Identification" minOccurs="0"/>

				<xs:element ref="Order_Category"/>

				<xs:element ref="Remark" minOccurs="0"/>

				<xs:element ref="Location_code_TOD" minOccurs="0"/>

				<xs:element ref="Indicator_External_Repackaging_department" minOccurs="0"/>

				<xs:element ref="Indicator_Transport_Code" minOccurs="0"/>

				<xs:element ref="Update_order_Indicator" minOccurs="0"/>

				<xs:element ref="Default_Production_date" minOccurs="0"/>

				<xs:element ref="Date_expected" minOccurs="0"/>

				<xs:element ref="Default_production_date" minOccurs="0"/>

				<xs:element ref="Sales_Channel" minOccurs="0"/>

				<xs:element ref="WEO12R"/>

				<xs:element ref="WEO16R"/>

				<xs:element ref="WEO20R"/>

				<xs:element ref="WEO30R"/>

				<xs:element ref="WEO40R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO05R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="9999">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_Reference"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO00R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="0">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Identification_Nbr"/>

				<xs:element ref="File-Identifier"/>

				<xs:element ref="Principal_Off_code"/>

				<xs:element ref="Message_Date"/>

				<xs:element ref="Message_Time"/>

				<xs:element ref="Message_Type_Id"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WEO">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="WEO00R"/>

				<xs:element ref="WEO05R"/>

				<xs:element ref="WEO10R"/>

				<xs:element ref="WEO99R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="VAT-number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Update_order_Indicator">

		<xs:complexType/>

	</xs:element>

	<xs:element name="UNDG_nummer">

		<xs:complexType/>

	</xs:element>

	<xs:element name="UNDG_extension_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type_of_package-3_width_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type_of_package">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-3_length_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-3_height_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-2_width_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-2_length_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-2_height_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-1_width_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-1_length_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type-1_height_in_cm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Transp_means_Identification">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Total_Nbrs_of_Rec">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Terms_of_Delivery">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telephone_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telefax_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Supplementary_document_type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Supplementary_document_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Supplementary_document_national_preference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Supplementary_document_indicator_free_of_ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Supplementary_document_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Supplementary_document_communautair_preference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Sex_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Serial_nr_ident">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Segment_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_subdivision">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_ident_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_allocation_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_Reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Sales_Channel">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Remark">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_identification_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_identification">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ref_Identification_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ref_Identification">

		<xs:complexType/>

	</xs:element>

	<xs:element name="RecordType">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Quantity">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Quality_control_sts">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Production_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Production_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_Code_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_orderline_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_Off_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Postal_Code_PO-Box">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Postal_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Positive-sign">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Place_PO-Box">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Place_Name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_Id">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_External_Ref">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_Day_indicator">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_sequence_nbr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_gross_weight">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet-ident">

		<xs:complexType/>

	</xs:element>

	<xs:element name="PO-Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="PO-Box_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Orderline_remarks">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Orderline_ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Remark_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Remark">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Party_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Category">

		<xs:complexType/>

	</xs:element>

	<xs:element name="OrderLine_Remark">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Open_deps_morning">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Open_deps_afternoon">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Open_del_morning">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Open_del_afternoon">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_units_measure_unit_specifier_per_type_of_package">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_units_measure_unit_specifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_units_MUS">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_pieces">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_packages">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Nr_of_units_measure_unit_specifier_per_type-1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Nr_of_type-2_per_type-3">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Nr_of_type-1_per_type-2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Nett_weight_per_unit_measure_unit_specifier_in_kilograms">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Net_volume_per_unit_measure_unit_specifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Nbr_per_customs_comm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Name_abbreviated">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Name_Abbrev">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_Type_Id">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_Time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_Date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Measure_unit_specifier_factor">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Measure_unit_specifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Location_code_TOD">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Language_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Language_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Invoice_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Invoice_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_scan_serial_number_Y_N_E">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_quality_check">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_identical_box_contents">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_external_repackaging_department">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_contact_cl">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Transport_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Transport">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Labelling">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_External_Repackaging_department">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ind_cross_docking">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Identification_Nbr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Idenrnr_palletCrate">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Idenr_nr_Group_Seq">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_Number_Extsn">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_weight_per_type_of_package_in_kilograms">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_weight_per_type-3_in_kgm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_weight_per_type-2_in_kgm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_weight_per_type-1_in_kgm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_Weight">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_Volume">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Goods_value_per_Box">

		<xs:complexType/>

	</xs:element>

	<xs:element name="GLN_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Free_form_descript">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Free_Form_Descr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="File-Identifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="External_Pallet_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="External_Box_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="External_Box_Ref">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Expiry_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Entry_issue_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Document_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Document_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Descript_of_aspect">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Descrip_4_cust_comm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Descrip_3_cust_comm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Descrip_2_cust_comm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Descrip_1_cust_comm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Default_production_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Default_Production_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date_expected">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date_Expected">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_value_qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_value">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_office">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_document_type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_document_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_comm_ref">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_Status_to">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_Status_from">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Custom_Status_From">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Currency_customs_val">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_of_Origin">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_of_Despatch">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_Code_PO-Box">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Contact_person_depar">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Contact_person_Tel">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Contact_person_Func">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Contact_person_Fax">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Contact_Person_Name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_Name_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_Name_1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_type_of_package_2_Type-2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_type_of_package_1_Type-1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_type_of_package-3">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_repackaging_after_entry">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_date_expected">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_List_Agency_CD">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Close_desp_morning">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Close_desp_afternoon">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Close_del_morning">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Close_del_afternoon">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Client_Ref_to_Order">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Carton_SSCC">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Batch_or_Lot_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Aspect_val_specified">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Ref">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Desciption">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Description_long">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Alternative_fifo_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Alcohol_percentage_per_type-1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_4">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_3">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_1">

		<xs:complexType/>

	</xs:element>

</xs:schema>

