connector_bots/doc/schemas/WarehouseShippingOrder_schema_credativ_20140625.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XSD File Created by credativ based on DSV Specifications -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Generic Types -->
    <xs:simpleType name="Field_AN1">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN2">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN3">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN6">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN8">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN17">
        <xs:restriction base="xs:string">
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN21">
        <xs:restriction base="xs:string">
            <xs:maxLength value="21"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN22">
        <xs:restriction base="xs:string">
            <xs:maxLength value="22"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN25">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN26">
        <xs:restriction base="xs:string">
            <xs:maxLength value="26"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN35">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN60">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN128">
        <xs:restriction base="xs:string">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN256">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN9U">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9 ]*"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN10U">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9 ]*"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN20U">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9 ]*"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N4">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N5">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N7">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="7"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N8">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N11">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N5_2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,5}\.[0-9]{0,2}"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N6_4">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,6}\.[0-9]{0,4}"/>
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N9_3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,9}\.[0-9]{0,3}"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N9_6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,9}\.[0-9]{0,6}"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N11_3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,11}\.[0-9]{0,3}"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N11_6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,11}\.[0-9]{0,6}"/>
            <xs:maxLength value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N14_6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,14}\.[0-9]{0,6}"/>
            <xs:maxLength value="21"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N15_2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,15}\.[0-9]{0,2}"/>
            <xs:maxLength value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N19_8">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,19}\.[0-9]{0,8}"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_CCYYMMDD">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_CC_YYMMDD">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{2})?[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_YYMMDD">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_HHMMSS">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_HHMM">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_YN">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Gender">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Order_Reference16">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
            <xs:pattern value="[a-zA-Z0-9 ]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Order_Reference17">
        <xs:restriction base="xs:string">
            <xs:maxLength value="17"/>
            <xs:pattern value="[a-zA-Z0-9 ]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Customs">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="FR"/>
            <xs:enumeration value="T1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Header Element -->
    <xs:simpleType name="Segment_Number00">
        <xs:restriction base="xs:string">
            <xs:enumeration value="00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Identification_Nbr">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]*"/>
                <xs:maxLength value="6"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="File-Identifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Principal_Off_code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Message_Type_Id">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="940"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO00R">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Segment_Number" type="Segment_Number00"/>
                <xs:element ref="Identification_Nbr"/>
                <xs:element ref="File-Identifier" minOccurs="0"/>
                <xs:element ref="Principal_Off_code" minOccurs="0"/>
                <xs:element name="Message_Date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Message_Time" type="Field_HHMM" minOccurs="0"/>
                <xs:element ref="Message_Type_Id" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Cancelled -->
    <xs:simpleType name="Segment_Number05">
        <xs:restriction base="xs:string">
            <xs:enumeration value="05"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WSO05R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number05"/>
                <xs:element name="Order_Reference" type="Field_Order_Reference17"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party Opening Hours -->
    <xs:simpleType name="Segment_Number36">
        <xs:restriction base="xs:string">
            <xs:enumeration value="36"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Party_day_indicator">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1"/> <!-- Monday -->
                <xs:enumeration value="2"/> <!-- Tuesday -->
                <xs:enumeration value="3"/> <!-- Wednesday -->
                <xs:enumeration value="4"/> <!-- Thursday -->
                <xs:enumeration value="5"/> <!-- Friday -->
                <xs:enumeration value="6"/> <!-- Saturday -->
                <xs:enumeration value="7"/> <!-- Sunday -->
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO36R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="7">
                <xs:element name="Segment_Number" type="Segment_Number36"/>
                <xs:element ref="Party_day_indicator"/>
                <xs:element name="Party_open_time_del" type="Field_HHMM"/>
                <xs:element name="Party_Close_time_del" type="Field_HHMM"/>
                <xs:element name="Party_open_time_desp" type="Field_HHMM"/>
                <xs:element name="Part_Close_time_desp" type="Field_HHMM"/>
                <xs:element name="Party_open_time_del" type="Field_HHMM"/>
                <xs:element name="Party_Close_time_del" type="Field_HHMM"/>
                <xs:element name="Party_open_time_desp" type="Field_HHMM"/>
                <xs:element name="Part_Close_time_desp" type="Field_HHMM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party PO Box -->
    <xs:simpleType name="Segment_Number35">
        <xs:restriction base="xs:string">
            <xs:enumeration value="35"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="PO-Box_nr">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="12"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Postal_Code_PO-box">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="9"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO35R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number35"/>
                <xs:element ref="PO-Box_nr"/>
                <xs:element ref="Postal_Code_PO-box" minOccurs="0"/>
                <xs:element name="Place_PO-box" type="Field_AN35"/>
                <xs:element name="Country_code_PO-box" type="Field_AN2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Party Specific Delivery Address -->
    <xs:simpleType name="Segment_Number33">
        <xs:restriction base="xs:string">
            <xs:enumeration value="33"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WSO33R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number33"/>
                <xs:element name="Address_1Comp_name" type="Field_AN25"/>
                <xs:element name="Address_2" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Address_3" type="Field_AN35" minOccurs="0"/>
                <!-- FIXME: Postal_code should be AN9U, but to validate with DSV's example AN10 us used -->
                <xs:element name="Postal_code" type="Field_AN10" minOccurs="0"/>
                <xs:element name="Place_name" type="Field_AN35"/>
                <xs:element name="Country_code" type="Field_AN2"/>
                <xs:element name="Telephone_number" type="Field_AN25" minOccurs="0"/>
                <xs:element name="Telefax_number" type="Field_AN25" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party Contact -->
    <xs:simpleType name="Segment_Number34">
        <xs:restriction base="xs:string">
            <xs:enumeration value="34"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Contact_person_tel-nr">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Contact_person_fax-nr">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO34R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number34"/>
                <xs:element name="Contact_person_name" type="Field_AN35"/>
                <xs:element name="Contact_person_depar" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="Contact_person_tel-nr" minOccurs="0"/>
                <xs:element name="Contact_person_func" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Sex_code" type="Field_Gender" minOccurs="0"/>
                <xs:element name="Name_abbrev_cont_per" type="Field_AN10U" minOccurs="0"/>
                <xs:element ref="Contact_person_fax-nr" minOccurs="0"/>
                <xs:element name="Email_address" type="Field_AN35" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party Details -->
    <xs:simpleType name="Segment_Number32">
        <xs:restriction base="xs:string">
            <xs:enumeration value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Address_1">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="House_Number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9 ]*"/>
                <xs:maxLength value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="House_Number_Extsn">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[a-zA-Z ]*"/>
                <xs:maxLength value="3"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Country_Code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Language_code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Telephone_Number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Telefax_Number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="VAT-number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z0-9 ]*"/>
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO32R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number32"/>
                <xs:element name="Company_Name_1" type="Field_AN35"/>
                <xs:element name="Company_Name_2" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="Address_1" minOccurs="0"/>
                <xs:element ref="House_Number" minOccurs="0"/>
                <xs:element ref="House_Number_Extsn" minOccurs="0"/>
                <xs:element name="Address_3" type="Field_AN35" minOccurs="0"/>
                <!-- FIXME: Postal_code should be AN9U, but to validate with DSV's example AN10 us used -->
                <xs:element name="Postal_Code" type="Field_AN10"/>
                <xs:element name="Place_Name" type="Field_AN35"/>
                <xs:element ref="Country_Code"/>
                <xs:element ref="Language_code"/>
                <xs:element ref="Telephone_Number" minOccurs="0"/>
                <xs:element ref="Telefax_Number" minOccurs="0"/>
                <xs:element ref="VAT-number" minOccurs="0"/>
                <xs:element name="Name_abbreviated" type="Field_AN10U" minOccurs="0"/>
                <xs:element name="Address_2" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Address_4" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Party_Id" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Code_List_Agency_CD" type="Field_AN3" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Party Communication Number -->
    <xs:simpleType name="Segment_Number31">
        <xs:restriction base="xs:string">
            <xs:enumeration value="31"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Communication_Number_Qualifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="EA"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Recipient_type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="0"/> <!-- To -->
                <xs:enumeration value="1"/> <!-- CC -->
                <xs:enumeration value="2"/> <!-- BCC -->
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO31R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number31"/>
                <xs:element name="Communication_Number_Qualifier"/>
                <xs:element name="Communication_Number" type="Field_AN256"/>
                <xs:element name="Recipient_type"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Party -->
    <xs:simpleType name="Segment_Number30">
        <xs:restriction base="xs:string">
            <xs:enumeration value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Party_External_Ref">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="17"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO30R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number30"/>
                <xs:element name="Order_Party_Qual" type="Field_AN3" minOccurs="0"/>
                <xs:element name="Party_External_Ref" type="Field_AN17"/>
                <xs:element name="Client_Ref_to_Order" type="Field_AN17" minOccurs="0"/>
                <xs:element name="GLN_code" type="Field_AN17" minOccurs="0"/>
                <xs:element name="Shop_number" type="Field_AN17" minOccurs="0"/>
                <xs:element name="Department" type="Field_AN17" minOccurs="0"/>
                <xs:element ref="WSO31R" minOccurs="0"/>
                <xs:element ref="WSO32R" minOccurs="0"/>
                <xs:element ref="WSO33R" minOccurs="0"/>
                <xs:element ref="WSO34R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO35R" minOccurs="0"/>
                <xs:element ref="WSO36R" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Remarks -->
    <xs:simpleType name="Segment_Number20">
        <xs:restriction base="xs:string">
            <xs:enumeration value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Order_Remark">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Order_Remark_Qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="T"/>
                <xs:enumeration value="D"/>
                <xs:enumeration value="E"/>
                <xs:enumeration value="G"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Remark_subject_qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="Z[0-9]{2}"/>
                <xs:maxLength value="3"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO20R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number20"/>
                <xs:element ref="Order_Remark"/>
                <xs:element ref="Order_Remark_Qual"/>
                <xs:element ref="Remark_subject_qual"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Reference -->
    <xs:simpleType name="Segment_Number12">
        <xs:restriction base="xs:string">
            <xs:enumeration value="12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Reference_Qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="PO"/>
                <xs:enumeration value="ABO"/>
                <xs:enumeration value="AOS"/>
                <xs:enumeration value="TSL"/>
                <xs:enumeration value="D01"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO12R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number12"/>
                <xs:element ref="Reference_Qual"/>
                <xs:element name="Reference_Number" type="Field_Order_Reference17"/>
                <xs:element name="Free_Form_Descr" type="Field_AN35" minOccurs="0"/>
                <!-- FIXME: Date should be CCYYMMDD, but to validate with DSV's an optional CC is used -->
                <xs:element name="Date" type="Field_CC_YYMMDD" minOccurs="0"/>
                <xs:element name="Time" type="Field_HHMM" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Orderline Goods Invoice -->
    <xs:simpleType name="Segment_Number41">
        <xs:restriction base="xs:string">
            <xs:enumeration value="41"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Goods_inv_amoun_Qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="L"/>
                <xs:enumeration value="U"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO41R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number41"/>
                <xs:element name="Goods_invoice_amount" type="Field_N15_2"/>
                <xs:element ref="Goods_inv_amoun_Qual" minOccurs="0"/>
                <xs:element name="Goods_invoice_amount" type="Field_N5_2"  minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line Details -->
    <xs:simpleType name="Segment_Number42">
        <xs:restriction base="xs:string">
            <xs:enumeration value="42"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier42">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WSO42R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="999">
                <xs:element name="Segment_Number" type="Segment_Number42"/>
                <xs:element name="Qualifier" type="Qualifier42"/>
                <xs:element name="Number_of_packages" type="Field_N6" minOccurs="0"/>
                <xs:element name="Pallet_prefix" type="Field_N2" minOccurs="0"/>
                <xs:element name="Pallet-identification" type="Field_N6"/>
                <xs:element name="Production_number" type="Field_AN10"/>
                <xs:element name="Pallet_sequence_nr" type="Field_N3"/>
                <xs:element name="Quantity" type="Field_N19_8" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line Remark -->
    <xs:simpleType name="Segment_Number43">
        <xs:restriction base="xs:string">
            <xs:enumeration value="43"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier43">
        <xs:restriction base="xs:string">
            <xs:enumeration value="I"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="B"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Remark_ref_qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="Z[0-9]{2}"/>
                <xs:maxLength value="3"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO43R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="999">
                <xs:element name="Segment_Number" type="Segment_Number43"/>
                <xs:element name="Qualifier" type="Qualifier43"/>
                <xs:element name="OrderLine_Remark" type="Field_AN60" minOccurs="0"/>
                <xs:element ref="Remark_ref_qual" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line Remark -->
    <xs:simpleType name="Segment_Number44">
        <xs:restriction base="xs:string">
            <xs:enumeration value="44"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WSO44R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number44"/>
                <xs:element name="SKU_reference_cust" type="Field_AN35"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Artical Product Code -->
    <xs:simpleType name="Segment_Number45">
        <xs:restriction base="xs:string">
            <xs:enumeration value="45"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Product_Code_Qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="EAN"/>
                <xs:enumeration value="UPC"/>
                <xs:enumeration value="GTN"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO45R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="3">
                <xs:element name="Segment_Number" type="Segment_Number45"/>
                <xs:element ref="Product_Code_Qual"/>
                <xs:element name="Product_Code" type="Field_AN17"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Artical Description Language -->
    <xs:simpleType name="Segment_Number46">
        <xs:restriction base="xs:string">
            <xs:enumeration value="46"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WSO46R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="11">
                <xs:element name="Segment_Number" type="Segment_Number46"/>
                <xs:element name="Language_Code" type="Field_AN1"/>
                <xs:element name="Article_Desciption" type="Field_AN35"/>
                <xs:element name="Article_Description_long" type="Field_AN128" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line Reference -->
    <xs:simpleType name="Segment_Number49">
        <xs:restriction base="xs:string">
            <xs:enumeration value="49"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Reference_qualifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="PO"/>
                <xs:enumeration value="SO"/>
                <xs:enumeration value="EPF"/>
                <xs:enumeration value="ABO"/>
                <xs:enumeration value="PPI"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO49R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number49"/>
                <xs:element ref="Reference_qualifier"/>
                <xs:element name="Reference_number" type="Field_AN35"/>
                <xs:element name="Free_form_descript" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Time" type="Field_HHMM" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SKU Aspect Value -->
    <xs:simpleType name="Segment_Number50">
        <xs:restriction base="xs:string">
            <xs:enumeration value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier50">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WSO50R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="3">
                <xs:element name="Segment_Number" type="Segment_Number50"/>
                <xs:element name="Qualifier" type="Qualifier50"/>
                <xs:element name="Aspect_val_specified" type="Field_AN8"/>
                <xs:element name="Descript_of_aspect" type="Field_AN35"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SKU Additional Reference -->
    <xs:simpleType name="Segment_Number51">
        <xs:restriction base="xs:string">
            <xs:enumeration value="51"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier51">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MF"/>
            <xs:enumeration value="CN"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WSO51R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="2">
                <xs:element name="Segment_Number" type="Segment_Number51"/>
                <xs:element name="Qualifier" type="Qualifier51"/>
                <xs:element name="SKU_Reference" type="Field_AN35"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SKU Identification Number -->
    <xs:simpleType name="Segment_Number53">
        <xs:restriction base="xs:string">
            <xs:enumeration value="53"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Price_qualifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="PP"/>
                <xs:enumeration value="RP"/>
                <xs:enumeration value="CP"/>
                <xs:enumeration value="IP"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Price_Level">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="U"/>
                <xs:enumeration value="L"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO53R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number53"/>
                <xs:element ref="Price_qualifier"/>
                <xs:element name="Price" type="Field_N15_2"/>
                <xs:element name="Price_Currency" type="Field_AN3"/>
                <xs:element name="Price_Percentage" type="Field_N5_2" minOccurs="0"/>
                <xs:element ref="Price_Level" minOccurs="0"/>
                <xs:element name="LPI_Quantity" type="Field_N15_2" minOccurs="0"/>
                <xs:element name="LPI_Quantity_UOM" type="Field_AN3" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line -->
    <xs:simpleType name="Segment_Number40">
        <xs:restriction base="xs:string">
            <xs:enumeration value="40"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Type_of_package40">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z ]*"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Reference_identification_qualifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="ARF"/>
                <xs:enumeration value="EAN"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO40R">
        <xs:complexType>
            <xs:sequence maxOccurs="999">
                <xs:element name="Segment_Number" type="Segment_Number40"/>
                <xs:element name="Orderline_ID" type="Field_N3"/>
                <xs:element name="Article_Ref" type="Field_AN17" minOccurs="0"/>
                <xs:element name="SKU_Reference" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Customs_Status_from" type="Field_Customs" minOccurs="0"/>
                <xs:element name="Customs_Status_to" type="Field_Customs" minOccurs="0"/>
                <xs:element name="UNDG_number" type="Field_N4" minOccurs="0"/>
                <xs:element name="UNDG-extension_number" type="Field_AN1" minOccurs="0"/>
                <xs:element name="Type_of_package" type="Type_of_package40"/>
                <xs:element name="Number_of_packages" type="Field_N6" minOccurs="0"/>
                <xs:element name="Number_of_units_measure_unit_specifier" type="Field_N11" minOccurs="0"/>
                <xs:element name="Number_of_units_measure_unit_specifier_per_type_of_package" type="Field_N6" minOccurs="0"/>
                <xs:element name="Orderline_remarks" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Net_volume_per_unit_measure_unit_specifier" type="Field_N9_6" minOccurs="0"/>
                <xs:element name="Indicator_external_repackaging_department" type="Field_AN1" minOccurs="0"/>
                <xs:element name="Principal_orderline_reference" type="Field_Order_Reference17" minOccurs="0"/>
                <xs:element name="Measure_unit_specifier_factor" type="Field_N6" minOccurs="0"/>
                <xs:element name="SKU_reference_original_ordered_lot" type="Field_AN35" minOccurs="0"/>
                <xs:element name="SKU_subdivision" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Indicator_print_on_packinglist" type="Field_YN" minOccurs="0"/>
                <xs:element name="Quantity" type="Field_N19_8" minOccurs="0"/>
                <xs:element name="Indicator_main_component" type="Field_YN" minOccurs="0"/>
                <xs:element name="Minimum_Shelf_Life_Date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Print_Label" type="Field_YN" minOccurs="0"/>
                <xs:element ref="WSO41R" minOccurs="0"/>
                <xs:element ref="WSO42R" minOccurs="0"/>
                <xs:element ref="WSO43R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO45R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO46R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO49R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO50R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO51R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO53R" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Order Element -->
    <xs:simpleType name="Segment_Number10">
        <xs:restriction base="xs:string">
            <xs:enumeration value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Order_Type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="O"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Code_delivery_date">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="O"/>
                <xs:enumeration value="F"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Transp_means_Identification">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="17"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Order_Category">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="N"/>
                <xs:enumeration value="C"/>
                <xs:enumeration value="B"/>
                <xs:enumeration value="P"/>
                <xs:enumeration value="U"/>
                <xs:enumeration value="L"/>
                <xs:enumeration value="I"/>
                <xs:enumeration value="W"/>
                <xs:enumeration value="A"/>
                <xs:enumeration value="J"/>
                <xs:enumeration value="V"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Location_code_TOD">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Update_order_Indicator">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="U"/>
                <xs:enumeration value="H"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Group_indicator">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z ]*"/>
                <xs:maxLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Indicator_Rebate_Surcharge">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="R"/>
                <xs:enumeration value="S"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Sales_Channel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="B"/>
                <xs:enumeration value="C"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO10R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number10"/>
                <xs:element ref="Order_Type"/>
                <xs:element name="Indicator_Transport" type="Field_YN"/>
                <xs:element name="Order_Reference" type="Field_Order_Reference16" minOccurs="0"/>
                <xs:element name="Indicator_Labelling" type="Field_YN"/>
                <xs:element name="Indicator_contact_cl" type="Field_YN"/>
                <xs:element ref="Code_delivery_date" minOccurs="0"/>
                <!-- FIXME: This element is mentioned twice in two places with two formats. Ignoring first instance -->
                <!-- <xs:element name="Delivery_date" type="Field_YYMMDD" minOccurs="0"/> -->
                <xs:element name="Delivery_time_from" type="Field_HHMM" minOccurs="0"/>
                <xs:element name="Delivery_time_until" type="Field_HHMM" minOccurs="0"/>
                <xs:element name="Terms_of_Delivery" type="Field_AN3" minOccurs="0"/>
                <xs:element name="COD_payment_code" type="Field_AN2" minOccurs="0"/>
                <xs:element name="COD_amount" type="Field_N15_2" minOccurs="0"/>
                <xs:element name="Currency_COD-amount" type="Field_AN3" minOccurs="0"/>
                <xs:element ref="Transp_means_Identification" minOccurs="0"/>
                <xs:element ref="Order_Category"/>
                <!-- FIXME: Sales_Channel should come last, but to validate with DSV's examples Remark is added last -->
                <!--<xs:element name="Remark" type="Field_AN35" minOccurs="0"/>-->
                <xs:element name="Order_priority" type="Field_N1"/>
                <xs:element name="Ext_Forwarding_service" type="Field_AN6" minOccurs="0"/>
                <xs:element ref="Location_code_TOD" minOccurs="0"/>
                <xs:element name="Indicator_External_Repackaging" type="Field_YN" minOccurs="0"/>
                <xs:element name="Indicator_transport_code" type="Field_AN1" minOccurs="0"/>
                <!-- FIXME: This element is mentioned twice in two places with two formats. Ignoring first instance -->
                <!-- <xs:element name="Requested_pick_date" type="Field_YYMMDD" minOccurs="0"/> -->
                <xs:element name="Requested_pick_time" type="Field_HHMM" minOccurs="0"/>
                <xs:element ref="Update_order_Indicator" minOccurs="0"/>
                <xs:element name="Ind_Blocked_for_allocation" type="Field_YN" minOccurs="0"/>
                <xs:element name="Delivery_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Requested_pick_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element ref="Group_indicator" minOccurs="0"/>
                <xs:element name="Print_customer_invoice" type="Field_YN" minOccurs="0"/>
                <xs:element name="Overrule_full_pallet_allocation" type="Field_YN" minOccurs="0"/>
                <xs:element name="Indicator_Load_in_planning_module" type="Field_YN" minOccurs="0"/>
                <xs:element ref="Indicator_Rebate_Surcharge" minOccurs="0"/>
                <xs:element name="Percentage_Rebate_Surcharge" type="Field_N5_2" minOccurs="0"/>
                <xs:element ref="Sales_Channel" minOccurs="0"/>
                <!-- FIXME: Sales_Channel should come last, but to validate with DSV's examples Remark is added last -->
                <xs:element name="Remark" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="WSO12R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO20R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO30R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO40R" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Footer Element -->
    <xs:simpleType name="Segment_Number99">
        <xs:restriction base="xs:string">
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="RecordType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="00"/>
                <xs:enumeration value="05"/>
                <xs:enumeration value="10"/>
                <xs:enumeration value="12"/>
                <xs:enumeration value="16"/>
                <xs:enumeration value="18"/>
                <xs:enumeration value="20"/>
                <xs:enumeration value="30"/>
                <xs:enumeration value="32"/>
                <xs:enumeration value="34"/>
                <xs:enumeration value="35"/>
                <xs:enumeration value="36"/>
                <xs:enumeration value="40"/>
                <xs:enumeration value="42"/>
                <xs:enumeration value="43"/>
                <xs:enumeration value="45"/>
                <xs:enumeration value="46"/>
                <xs:enumeration value="47"/>
                <xs:enumeration value="48"/>
                <xs:enumeration value="49"/>
                <xs:enumeration value="50"/>
                <xs:enumeration value="51"/>
                <xs:enumeration value="52"/>
                <xs:enumeration value="99"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WSO99R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number99"/>
                <xs:element ref="RecordType"/>
                <xs:element name="Total_Nbrs_of_Rec" type="Field_N6"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Main Element -->
    <xs:element name="WSO">
        <xs:complexType>
            <xs:sequence>
                <!-- FIXME: minOccurs should be default, but to validate with DSV's examples 0 is used -->
                <xs:element ref="WSO00R" minOccurs="0"/>
                <xs:element ref="WSO05R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO10R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WSO99R" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

