connector_bots/doc/schemas/WarehouseOrderConfirmation_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by Mette Andreassen (DSV A/S) -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Width">

		<xs:complexType/>

	</xs:element>

	<xs:element name="WOC99R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="17">

				<xs:element ref="Segment_number"/>

				<xs:element ref="RecordType"/>

				<xs:element ref="Total_Nbrs_of_Rec"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC85R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="99">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Order_reference"/>

				<xs:element ref="Partner_line_id"/>

				<xs:element ref="Partner_line_ref"/>

				<xs:element ref="Quantity"/>

				<xs:element ref="Type_of_package"/>

				<xs:element ref="Quantity_in_type_1"/>

				<xs:element ref="Country_of_Origin"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC84R">

		<xs:complexType>

			<xs:sequence minOccurs="0">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Article_length"/>

				<xs:element ref="Article_width"/>

				<xs:element ref="Article_height"/>

				<xs:element ref="Article_gross_weight"/>

				<xs:element ref="Article_Description"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC83R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="4">

				<xs:element ref="Segment_number"/>

				<xs:element ref="SKU_ref_type__coded"/>

				<xs:element ref="SKU_reference"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC82R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="5">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Identification_nr"/>

				<xs:element ref="Packages"/>

				<xs:element ref="Last_stock_of_pallet"/>

				<xs:element ref="Pallet-ID"/>

				<xs:element ref="Production_number"/>

				<xs:element ref="Pallet_seq_nr"/>

				<xs:element ref="Ident_type__coded"/>

				<xs:element ref="Group_seq_nr"/>

				<xs:element ref="Identification_Expiration_date"/>

				<xs:element ref="Pallet_number"/>

				<xs:element ref="Box_number"/>

				<xs:element ref="Pallet-description"/>

				<xs:element ref="Quantity"/>

				<xs:element ref="Unit_of_Measure"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC81R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="9">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Reference_qualifier"/>

				<xs:element ref="Reference_number"/>

				<xs:element ref="Free_form_descr"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC80R">

		<xs:complexType>

			<xs:sequence maxOccurs="999">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Orderline-type"/>

				<xs:element ref="SKU-reference"/>

				<xs:element ref="Customs_status_from"/>

				<xs:element ref="Customs_status_to"/>

				<xs:element ref="Type_of_package"/>

				<xs:element ref="Packages"/>

				<xs:element ref="Units_MUS"/>

				<xs:element ref="Date_executed"/>

				<xs:element ref="Time_executed"/>

				<xs:element ref="Orderline_reference"/>

				<xs:element ref="Picking_date"/>

				<xs:element ref="Picking_time"/>

				<xs:element ref="Invoice_number"/>

				<xs:element ref="Goods_invoice_amount"/>

				<xs:element ref="FL_order_line_nr"/>

				<xs:element ref="Original_packages"/>

				<xs:element ref="Original_MUS"/>

				<xs:element ref="Date_executed"/>

				<xs:element ref="Picking_date"/>

				<xs:element ref="Line_item_sequence_number"/>

				<xs:element ref="Article_reference"/>

				<xs:element ref="SKU_Status"/>

				<xs:element ref="Subinventory_code"/>

				<xs:element ref="Ind_print_on_pack"/>

				<xs:element ref="SKU_allocation_date"/>

				<xs:element ref="Number_of_packages_damaged"/>

				<xs:element ref="Indicator_non_transportable"/>

				<xs:element ref="Stock_movement_reason"/>

				<xs:element ref="Quantity"/>

				<xs:element ref="Unit_of_Measure"/>

				<xs:element ref="Third_PL_Reason_Code_Description_Line"/>

				<xs:element ref="Principal_Reason_Code_Line"/>

				<xs:element ref="Principal_Reason_Code_Description_Line"/>

				<xs:element ref="Movement_Type_Line"/>

				<xs:element ref="Movement_Type_Description_Line"/>

				<xs:element ref="WOC81R"/>

				<xs:element ref="WOC82R"/>

				<xs:element ref="WOC83R"/>

				<xs:element ref="WOC84R"/>

				<xs:element ref="WOC85R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC72R">

		<xs:complexType>

			<xs:sequence minOccurs="0">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Company_name_1"/>

				<xs:element ref="Company_name_2"/>

				<xs:element ref="Address_1"/>

				<xs:element ref="House_number"/>

				<xs:element ref="House_number_extension"/>

				<xs:element ref="Address_3"/>

				<xs:element ref="Postal_code"/>

				<xs:element ref="Place_name"/>

				<xs:element ref="Country_code"/>

				<xs:element ref="Language_code"/>

				<xs:element ref="Telephone_number"/>

				<xs:element ref="Telefax_number"/>

				<xs:element ref="VAT-number"/>

				<xs:element ref="Name_abbreviated"/>

				<xs:element ref="Address_2"/>

				<xs:element ref="Address_4"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC70R">

		<xs:complexType>

			<xs:sequence maxOccurs="10">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Party_qualifier"/>

				<xs:element ref="Party_external_reference"/>

				<xs:element ref="Party_order_reference"/>

				<xs:element ref="GLN_code"/>

				<xs:element ref="WOC72R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC5CR">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="99999">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Serial_number"/>

				<xs:element ref="Identification_type_coded"/>

				<xs:element ref="Group_sequence_number"/>

				<xs:element ref="Expiration_date"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC59R">

		<xs:complexType>

			<xs:sequence minOccurs="0">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Carrier"/>

				<xs:element ref="Service_Level_Code"/>

				<xs:element ref="Consignment_number"/>

				<xs:element ref="Service_Level_Description"/>

				<xs:element ref="Service_Level_Description_Label"/>

				<xs:element ref="Service_Level_Description_Text"/>

				<xs:element ref="Service_Indicator_01"/>

				<xs:element ref="Service_Indicator_02"/>

				<xs:element ref="Service_Indicator_03"/>

				<xs:element ref="Lead_package_tracking_number"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC58R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999">

				<xs:element ref="Segment_number"/>

				<xs:element ref="SKU_reference"/>

				<xs:element ref="Number_of_packages"/>

				<xs:element ref="Type_of_package"/>

				<xs:element ref="Number_of_units_MUS"/>

				<xs:element ref="External_Type_of_package_code"/>

				<xs:element ref="SKU_subinventory"/>

				<xs:element ref="Our_order_line_number"/>

				<xs:element ref="Product_code_qualifier"/>

				<xs:element ref="Product_code"/>

				<xs:element ref="Date_executed_of_corresponding_line"/>

				<xs:element ref="Time_executed_of_the_corresponding_line"/>

				<xs:element ref="PO_reference_of_corresponding_line"/>

				<xs:element ref="Article_reference"/>

				<xs:element ref="Indicator_Expires"/>

				<xs:element ref="SKU_allocation_date"/>

				<xs:element ref="Principal_orderline_reference"/>

				<xs:element ref="Article_Description"/>

				<xs:element ref="Original_total_number_of_units_MUS"/>

				<xs:element ref="Gross_weight_per_type-1_in_kgm"/>

				<xs:element ref="WOC5CR"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC56R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999">

				<xs:element ref="Segment_number"/>

				<xs:element ref="External_box_refference"/>

				<xs:element ref="Gross_volume"/>

				<xs:element ref="Gross_weight"/>

				<xs:element ref="Box_sequence_number"/>

				<xs:element ref="External_box_reference"/>

				<xs:element ref="Tare_Weight"/>

				<xs:element ref="Length"/>

				<xs:element ref="Width"/>

				<xs:element ref="Height"/>

				<xs:element ref="Pallet-identification"/>

				<xs:element ref="Box_internal_tracking_number"/>

				<xs:element ref="Box_SCCC"/>

				<xs:element ref="WOC58R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC54R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="999">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Pallet-identification_per_order"/>

				<xs:element ref="Order_total_nr_of_boxes_per_pallet"/>

				<xs:element ref="Pallet-identification"/>

				<xs:element ref="External_refernce"/>

				<xs:element ref="Gross_Weight"/>

				<xs:element ref="Gross_Volume"/>

				<xs:element ref="Lenght"/>

				<xs:element ref="Width"/>

				<xs:element ref="Height"/>

				<xs:element ref="Ind_Stackable"/>

				<xs:element ref="Indication_Excessive"/>

				<xs:element ref="Pallet_internal_tracking_number"/>

				<xs:element ref="Tare_Weight"/>

				<xs:element ref="Pallet_type"/>

				<xs:element ref="GTIN_code"/>

				<xs:element ref="Pallet_SSCC"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC52R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="7">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="Order_total"/>

				<xs:element ref="Currency_code"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC51R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="9">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Reference_qualifier"/>

				<xs:element ref="Reference_number"/>

				<xs:element ref="Free_form_descr"/>

				<xs:element ref="Date"/>

				<xs:element ref="Time"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC50R">

		<xs:complexType>

			<xs:sequence maxOccurs="999">

				<xs:element ref="Segment_number"/>

				<xs:element ref="Order_type"/>

				<xs:element ref="Order_reference"/>

				<xs:element ref="Order_category"/>

				<xs:element ref="Ext_forw_service"/>

				<xs:element ref="Order_remarks"/>

				<xs:element ref="Message_reference"/>

				<xs:element ref="Invoice_number"/>

				<xs:element ref="Currency_of_order"/>

				<xs:element ref="Mode_of_transport"/>

				<xs:element ref="Shipped_on_this_date"/>

				<xs:element ref="Stock_movement_reason"/>

				<xs:element ref="Voyage_id"/>

				<xs:element ref="Transportation_Means"/>

				<xs:element ref="Carrier_code"/>

				<xs:element ref="Indicator_Order_Executed"/>

				<xs:element ref="Code_delivery_date"/>

				<xs:element ref="Delivery_date"/>

				<xs:element ref="Delivery_term"/>

				<xs:element ref="Payment_term"/>

				<xs:element ref="Unique_shipment_id"/>

				<xs:element ref="Third_PL_Reason_Code_Description"/>

				<xs:element ref="Principal_Reason_Code"/>

				<xs:element ref="Principal_Reason_Code_Description"/>

				<xs:element ref="Movement_Type"/>

				<xs:element ref="Movement_Type_Description"/>

				<xs:element ref="Sales_Channel"/>

				<xs:element ref="WOC51R"/>

				<xs:element ref="WOC52R"/>

				<xs:element ref="WOC54R"/>

				<xs:element ref="WOC56R"/>

				<xs:element ref="WOC59R"/>

				<xs:element ref="WOC70R"/>

				<xs:element ref="WOC80R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC00R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_number"/>

				<xs:element ref="Principal-ID"/>

				<xs:element ref="File-ID"/>

				<xs:element ref="Principal_off_code"/>

				<xs:element ref="Message_type"/>

				<xs:element ref="Test_indicator"/>

				<xs:element ref="Message_type-ID"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WOC">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="WOC00R"/>

				<xs:element ref="WOC50R"/>

				<xs:element ref="WOC99R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="Voyage_id">

		<xs:complexType/>

	</xs:element>

	<xs:element name="VAT-number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Units_MUS">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Unit_of_Measure">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Unique_shipment_id">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type_of_package">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Transportation_Means">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Total_Nbrs_of_Rec">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Time_executed_of_the_corresponding_line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Time_executed">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Third_PL_Reason_Code_Description_Line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Third_PL_Reason_Code_Description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Test_indicator">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telephone_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telefax_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Tare_Weight">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Subinventory_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Stock_movement_reason">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Shipped_on_this_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Service_Level_Description_Text">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Service_Level_Description_Label">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Service_Level_Description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Service_Level_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Service_Indicator_03">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Service_Indicator_02">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Service_Indicator_01">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Serial_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Segment_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_subinventory">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_ref_type__coded">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_allocation_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_Status">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU-reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Sales_Channel">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="RecordType">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Quantity_in_type_1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Quantity">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Production_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_code_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_Reason_Code_Description_Line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_Reason_Code_Line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_Reason_Code_Description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_Reason_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_orderline_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_off_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal-ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Postal_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Place_name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Picking_time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Picking_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Payment_term">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_order_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_external_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Partner_line_ref">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Partner_line_id">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_seq_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_internal_tracking_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_SSCC">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet-identification_per_order">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet-identification">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet-description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet-ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Packages">

		<xs:complexType/>

	</xs:element>

	<xs:element name="PO_reference_of_corresponding_line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Our_order_line_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Original_total_number_of_units_MUS">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Original_packages">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Original_MUS">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Orderline_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Orderline-type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_total_nr_of_boxes_per_pallet">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_total">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_remarks">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_category">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_units_MUS">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_packages_damaged">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_packages">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Name_abbreviated">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Movement_Type_Line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Movement_Type_Description_Line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Movement_Type_Description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Movement_Type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Mode_of_transport">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_type-ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Line_item_sequence_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Length">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Lenght">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Lead_package_tracking_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Last_stock_of_pallet">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Language_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Invoice_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_non_transportable">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Order_Executed">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Expires">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indication_Excessive">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ind_print_on_pack">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ind_Stackable">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Identification_type_coded">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Identification_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Identification_Expiration_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ident_type__coded">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_number_extension">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Height">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Group_sequence_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Group_seq_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_weight_per_type-1_in_kgm">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_weight">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_volume">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_Weight">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Gross_Volume">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Goods_invoice_amount">

		<xs:complexType/>

	</xs:element>

	<xs:element name="GTIN_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="GLN_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Free_form_descr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="File-ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="FL_order_line_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="External_refernce">

		<xs:complexType/>

	</xs:element>

	<xs:element name="External_box_refference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="External_box_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="External_Type_of_package_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ext_forw_service">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Expiration_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Delivery_term">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Delivery_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date_executed_of_corresponding_line">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date_executed">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_status_to">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_status_from">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Currency_of_order">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Currency_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_of_Origin">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Consignment_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_name_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_name_1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_delivery_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Carrier_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Carrier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Box_sequence_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Box_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Box_internal_tracking_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Box_SCCC">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_width">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_length">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_height">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_gross_weight">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_4">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_3">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_1">

		<xs:complexType/>

	</xs:element>

</xs:schema>

