connector_bots/doc/schemas/WarehouseShippingOrder_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="WSO99R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="RecordType"/>

				<xs:element ref="Total_Nbrs_of_Rec"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO53R">

		<xs:complexType>

			<xs:sequence minOccurs="0" maxOccurs="4">

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Price_qualifier"/>

				<xs:element ref="Price"/>

				<xs:element ref="Price_Currency"/>

				<xs:element ref="Price_Percentage"/>

				<xs:element ref="Price_Level"/>

				<xs:element ref="LPI_Quantity"/>

				<xs:element ref="LPI_Quantity_UOM"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO51R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="SKU_refe_type__coded"/>

				<xs:element ref="SKU_reference"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO50R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="Aspect_val_of_Spec"/>

				<xs:element ref="Descript_of_aspect"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO49R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Reference_qualifier"/>

				<xs:element ref="Reference_number"/>

				<xs:element ref="Free_form_descript"/>

				<xs:element ref="Date"/>

				<xs:element ref="Time"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO46R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Language_Code"/>

				<xs:element ref="Article_Description"/>

				<xs:element ref="Article_Description_long"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO45R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Product_Code_Qual"/>

				<xs:element ref="Product_Code"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO44R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="SKU_reference_cust"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO43R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="OrderLine_Remark"/>

				<xs:element ref="Remark_ref_qual"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO42R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Qualifier"/>

				<xs:element ref="Number_of_packages"/>

				<xs:element ref="Pallet_prefix"/>

				<xs:element ref="Pallet-identification"/>

				<xs:element ref="Production_number"/>

				<xs:element ref="Pallet_sequence_nr"/>

				<xs:element ref="Quantity"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO41R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Goods_invoice_amount"/>

				<xs:element ref="Goods_inv_amoun_Qual"/>

				<xs:element ref="VAT_percentage"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO40R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Orderline_ID"/>

				<xs:element ref="Article_Ref"/>

				<xs:element ref="SKU_Reference"/>

				<xs:element ref="Customs_Status_from"/>

				<xs:element ref="Customs_Status_to"/>

				<xs:element ref="UNDG_number"/>

				<xs:element ref="UNDG-extension_number"/>

				<xs:element ref="Type_of_package"/>

				<xs:element ref="Number_of_packages"/>

				<xs:element ref="Number_of_units_measure_unit_specifier"/>

				<xs:element ref="Number_of_units_measure_unit_specifier_per_type_of_package"/>

				<xs:element ref="Orderline_remarks"/>

				<xs:element ref="Net_volume_per_unit_measure_unit-specifier"/>

				<xs:element ref="Indicator_external_repackaging_department"/>

				<xs:element ref="Principal_orderline_reference"/>

				<xs:element ref="Measure_unit_specifier_factor"/>

				<xs:element ref="SKU_reference_original_ordered_lot"/>

				<xs:element ref="SKU_subdivision"/>

				<xs:element ref="Indicator_print_on_packinglist"/>

				<xs:element ref="Quantity"/>

				<xs:element ref="Indicator_main_component"/>

				<xs:element ref="Minimum_Shelf_Life_Date"/>

				<xs:element ref="Print_Label"/>

				<xs:element ref="WSO41R"/>

				<xs:element ref="WSO42R"/>

				<xs:element ref="WSO43R"/>

				<xs:element ref="WSO44R"/>

				<xs:element ref="WSO45R"/>

				<xs:element ref="WSO46R"/>

				<xs:element ref="WSO49R"/>

				<xs:element ref="WSO50R"/>

				<xs:element ref="WSO51R"/>

				<xs:element ref="WSO53R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO36R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Party_day_indicator"/>

				<xs:element ref="Party_open_time_del"/>

				<xs:element ref="Party_Close_time_del"/>

				<xs:element ref="Party_open_time_desp"/>

				<xs:element ref="Part_Close_time_desp"/>

				<xs:element ref="Party_open_time_del"/>

				<xs:element ref="Party_Close_time_del"/>

				<xs:element ref="Party_open_time_desp"/>

				<xs:element ref="Part_Close_time_desp"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO35R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="PO-box_nr"/>

				<xs:element ref="Postal_code_PO-box"/>

				<xs:element ref="Place_PO-box"/>

				<xs:element ref="Country_code_PO-box"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO34R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Contact_person_name"/>

				<xs:element ref="Cont_person_depart"/>

				<xs:element ref="Cont_person_tel-nr"/>

				<xs:element ref="Contact_person_func"/>

				<xs:element ref="Sexe_code"/>

				<xs:element ref="Name_abbrev_cont_per"/>

				<xs:element ref="Cont_person_fax-nr"/>

				<xs:element ref="Email_address"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO33R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Address_1Comp_name"/>

				<xs:element ref="Address_2"/>

				<xs:element ref="Address_3"/>

				<xs:element ref="Postal_code"/>

				<xs:element ref="Place_name"/>

				<xs:element ref="Country_code"/>

				<xs:element ref="Telephone_number"/>

				<xs:element ref="Telefax_number"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO32R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Company_Name_1"/>

				<xs:element ref="Company_Name_2"/>

				<xs:element ref="Address_1"/>

				<xs:element ref="House_Number"/>

				<xs:element ref="House_Number_Extsn"/>

				<xs:element ref="Address_3"/>

				<xs:element ref="Postal_Code"/>

				<xs:element ref="Place_Name"/>

				<xs:element ref="Country_Code"/>

				<xs:element ref="Language_code"/>

				<xs:element ref="Telephone_Number"/>

				<xs:element ref="Telefax_Number"/>

				<xs:element ref="VAT-number"/>

				<xs:element ref="Name_abbreviated"/>

				<xs:element ref="Address_2"/>

				<xs:element ref="Address_4"/>

				<xs:element ref="Party_Id"/>

				<xs:element ref="Code_List_Agency_CD"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO31R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Communication_Number_Qualifier"/>

				<xs:element ref="Communication_Number"/>

				<xs:element ref="Recipient_type"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO30R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_Party_Qual"/>

				<xs:element ref="Party_External_Ref"/>

				<xs:element ref="Client_Ref_to_Order"/>

				<xs:element ref="GLN_code"/>

				<xs:element ref="Shop_number"/>

				<xs:element ref="Department"/>

				<xs:element ref="WSO31R"/>

				<xs:element ref="WSO32R"/>

				<xs:element ref="WSO33R"/>

				<xs:element ref="WSO34R"/>

				<xs:element ref="WSO35R"/>

				<xs:element ref="WSO36R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO20R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_Remark"/>

				<xs:element ref="Order_Remark_Qual"/>

				<xs:element ref="Remark_subject_qual"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO12R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Reference_Qual"/>

				<xs:element ref="Reference_Number"/>

				<xs:element ref="Free_Form_Descr"/>

				<xs:element ref="Date"/>

				<xs:element ref="Time"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO10R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_Type"/>

				<xs:element ref="Indicator_Transport"/>

				<xs:element ref="Order_Reference"/>

				<xs:element ref="Indicator_Labelling"/>

				<xs:element ref="Indicator_contact_cl"/>

				<xs:element ref="Code_delivery_date"/>

				<xs:element ref="Delivery_date"/>

				<xs:element ref="Delivery_time_from"/>

				<xs:element ref="Delivery_time_until"/>

				<xs:element ref="Terms_of_Delivery"/>

				<xs:element ref="COD_payment_code"/>

				<xs:element ref="COD_amount"/>

				<xs:element ref="Currency_COD-amount"/>

				<xs:element ref="Transp_means_ID"/>

				<xs:element ref="Order_Category"/>

				<xs:element ref="Remark"/>

				<xs:element ref="Order_priority"/>

				<xs:element ref="Ext_Forwarding_service"/>

				<xs:element ref="Location_code_TOD"/>

				<xs:element ref="Indicator_External_Repackaging"/>

				<xs:element ref="Indicator_transport_code"/>

				<xs:element ref="Requested_pick_date"/>

				<xs:element ref="Requested_pick_time"/>

				<xs:element ref="Update_order_indicator"/>

				<xs:element ref="Ind_Blocked_for_allocation"/>

				<xs:element ref="Delivery_date"/>

				<xs:element ref="Requested_pick_date"/>

				<xs:element ref="Group_indicator"/>

				<xs:element ref="Print_customer_invoice"/>

				<xs:element ref="Overrule_full_pallet_allocation"/>

				<xs:element ref="Indicator_Load_in_planning_module"/>

				<xs:element ref="Indicator_Rebate_Surcharge"/>

				<xs:element ref="Percentage_Rebate_Surcharge"/>

				<xs:element ref="Sales_Channel"/>

				<xs:element ref="WSO12R"/>

				<xs:element ref="WSO20R"/>

				<xs:element ref="WSO30R"/>

				<xs:element ref="WSO40R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO05R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Order_reference"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO00R">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="Segment_Number"/>

				<xs:element ref="Identification_Nbr"/>

				<xs:element ref="File-Identifier"/>

				<xs:element ref="Principal_Off_code"/>

				<xs:element ref="Message_Date"/>

				<xs:element ref="Message_Time"/>

				<xs:element ref="Message_Type_Id"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="WSO">

		<xs:complexType>

			<xs:sequence>

				<xs:element ref="WSO00R"/>

				<xs:element ref="WSO05R"/>

				<xs:element ref="WSO10R"/>

				<xs:element ref="WSO99R"/>

			</xs:sequence>

		</xs:complexType>

	</xs:element>

	<xs:element name="VAT_percentage">

		<xs:complexType/>

	</xs:element>

	<xs:element name="VAT-number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Update_order_indicator">

		<xs:complexType/>

	</xs:element>

	<xs:element name="UNDG_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="UNDG-extension_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Type_of_package">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Transp_means_ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Total_Nbrs_of_Rec">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Terms_of_Delivery">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telephone_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telephone_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telefax_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Telefax_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Shop_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Sexe_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Segment_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_subdivision">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_reference_original_ordered_lot">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_reference_cust">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_refe_type__coded">

		<xs:complexType/>

	</xs:element>

	<xs:element name="SKU_Reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Sales_Channel">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Requested_pick_time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Requested_pick_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Remark_subject_qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Remark_ref_qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Remark">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Reference_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="RecordType">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Recipient_type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Quantity">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Production_number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_Code_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Product_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Print_customer_invoice">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Print_Label">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_orderline_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Price_Level">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Principal_Off_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Price_qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Price">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Price_Currency">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Price_Percentage">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Postal_code_PO-box">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Postal_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Postal_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Place_name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Place_PO-box">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Place_Name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Percentage_Rebate_Surcharge">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_open_time_desp">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_open_time_del">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_day_indicator">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_Id">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_External_Ref">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Party_Close_time_del">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Part_Close_time_desp">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_sequence_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet_prefix">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Pallet-identification">

		<xs:complexType/>

	</xs:element>

	<xs:element name="PO-box_nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Overrule_full_pallet_allocation">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Orderline_remarks">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Orderline_ID">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_priority">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Type">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Remark_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Remark">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Reference">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Party_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Order_Category">

		<xs:complexType/>

	</xs:element>

	<xs:element name="OrderLine_Remark">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_units_measure_unit_specifier_per_type_of_package">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_units_measure_unit_specifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Number_of_packages">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Net_volume_per_unit_measure_unit-specifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Name_abbreviated">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Name_abbrev_cont_per">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Minimum_Shelf_Life_Date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_Type_Id">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_Time">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Message_Date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Measure_unit_specifier_factor">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Location_code_TOD">

		<xs:complexType/>

	</xs:element>

	<xs:element name="LPI_Quantity">

		<xs:complexType/>

	</xs:element>

	<xs:element name="LPI_Quantity_UOM">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Language_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Language_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_transport_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_print_on_packinglist">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_main_component">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_external_repackaging_department">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_contact_cl">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Transport">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Rebate_Surcharge">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Load_in_planning_module">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_Labelling">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Indicator_External_Repackaging">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ind_Blocked_for_allocation">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Identification_Nbr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_Number_Extsn">

		<xs:complexType/>

	</xs:element>

	<xs:element name="House_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Group_indicator">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Goods_invoice_amount">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Goods_inv_amoun_Qual">

		<xs:complexType/>

	</xs:element>

	<xs:element name="GLN_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Free_form_descript">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Free_Form_Descr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="File-Identifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Ext_Forwarding_service">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Email_address">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Descript_of_aspect">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Department">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Delivery_time_until">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Delivery_time_from">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Delivery_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_Status_to">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Customs_Status_from">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Currency_COD-amount">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_code_PO-box">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Country_Code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Contact_person_name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Contact_person_func">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Cont_person_tel-nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Cont_person_fax-nr">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Cont_person_depart">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_Name_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Company_Name_1">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Communication_Number_Qualifier">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Communication_Number">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_delivery_date">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Code_List_Agency_CD">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Client_Ref_to_Order">

		<xs:complexType/>

	</xs:element>

	<xs:element name="COD_payment_code">

		<xs:complexType/>

	</xs:element>

	<xs:element name="COD_amount">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Aspect_val_of_Spec">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Ref">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Description">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Article_Description_long">

			<xs:complexType/>

	</xs:element>

	<xs:element name="Address_4">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_3">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_2">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_1Comp_name">

		<xs:complexType/>

	</xs:element>

	<xs:element name="Address_1">

		<xs:complexType/>

	</xs:element>

</xs:schema>

