connector_bots/util/bots/usersys/mappings/raw/dsv_warehouseentryorder_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XSD File Created by credativ based on DSV Specifications -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Generic Types -->
    <xs:simpleType name="Field_AN1">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN2">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN3">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN4">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN6">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN8">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN9">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN12">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN14">
        <xs:restriction base="xs:string">
            <xs:maxLength value="14"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN17">
        <xs:restriction base="xs:string">
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN20">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN21">
        <xs:restriction base="xs:string">
            <xs:maxLength value="21"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN22">
        <xs:restriction base="xs:string">
            <xs:maxLength value="22"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN25">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN26">
        <xs:restriction base="xs:string">
            <xs:maxLength value="26"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN35">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN60">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN80">
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN128">
        <xs:restriction base="xs:string">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN256">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN9U">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9 ]*"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN10U">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9 ]*"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_AN20U">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9 ]*"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N1">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N4">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N5">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N7">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="7"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N8">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N11">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N17">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]*"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N5_2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,5}\.[0-9]{0,2}"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N6_4">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,6}\.[0-9]{0,4}"/>
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N9_3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,9}\.[0-9]{0,3}"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N9_6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,9}\.[0-9]{0,6}"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N11_3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,11}\.[0-9]{0,3}"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N11_6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,11}\.[0-9]{0,6}"/>
            <xs:maxLength value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N14_6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,14}\.[0-9]{0,6}"/>
            <xs:maxLength value="21"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N15_2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,15}\.[0-9]{0,2}"/>
            <xs:maxLength value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N15_6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,15}\.[0-9]{0,2}"/>
            <xs:maxLength value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_N19_8">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{0,19}\.[0-9]{0,8}"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_CCYYMMDD">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_CC_YYMMDD">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{2})?[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_YYMMDD">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_HHMMSS">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_HHMM">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_YN">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Gender">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Order_Reference16">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
            <xs:pattern value="[a-zA-Z0-9 ]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Order_Reference17">
        <xs:restriction base="xs:string">
            <xs:maxLength value="17"/>
            <xs:pattern value="[a-zA-Z0-9 ]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Field_Customs">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="FR"/>
            <xs:enumeration value="T1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Header Element -->
    <xs:simpleType name="Segment_Number00">
        <xs:restriction base="xs:string">
            <xs:enumeration value="00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Identification_Nbr">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]*"/>
                <xs:maxLength value="6"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="File-Identifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="10"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Principal_Off_code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Message_Type_Id">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="943"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO00R">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Segment_Number" type="Segment_Number00"/>
                <xs:element ref="Identification_Nbr"/>
                <xs:element ref="File-Identifier" minOccurs="0"/>
                <xs:element ref="Principal_Off_code" minOccurs="0"/>
                <xs:element name="Message_Date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Message_Time" type="Field_HHMM" minOccurs="0"/>
                <xs:element ref="Message_Type_Id" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Cancelled -->
    <xs:simpleType name="Segment_Number05">
        <xs:restriction base="xs:string">
            <xs:enumeration value="05"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO05R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number05"/>
                <xs:element name="Order_Reference" type="Field_Order_Reference17"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party Opening Hours -->
    <xs:simpleType name="Segment_Number36">
        <xs:restriction base="xs:string">
            <xs:enumeration value="36"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Party_Day_indicator">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1"/> <!-- Monday -->
                <xs:enumeration value="2"/> <!-- Tuesday -->
                <xs:enumeration value="3"/> <!-- Wednesday -->
                <xs:enumeration value="4"/> <!-- Thursday -->
                <xs:enumeration value="5"/> <!-- Friday -->
                <xs:enumeration value="6"/> <!-- Saturday -->
                <xs:enumeration value="7"/> <!-- Sunday -->
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO36R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="7">
                <xs:element name="Segment_Number" type="Segment_Number36"/>
                <xs:element ref="Party_Day_indicator"/>
                <xs:element name="Open_del_morning" type="Field_HHMM"/>
                <xs:element name="Close_del_morning" type="Field_HHMM"/>
                <xs:element name="Open_deps_morning" type="Field_HHMM"/>
                <xs:element name="Close_desp_morning" type="Field_HHMM"/>
                <xs:element name="Open_del_afternoon" type="Field_HHMM"/>
                <xs:element name="Close_del_afternoon" type="Field_HHMM"/>
                <xs:element name="Open_deps_afternoon" type="Field_HHMM"/>
                <xs:element name="Close_desp_afternoon" type="Field_HHMM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party PO Box -->
    <xs:simpleType name="Segment_Number35">
        <xs:restriction base="xs:string">
            <xs:enumeration value="35"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="PO-Box_Number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="12"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Postal_Code_PO-Box">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="9"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO35R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number35"/>
                <xs:element ref="PO-Box_Number"/>
                <xs:element ref="Postal_Code_PO-Box" minOccurs="0"/>
                <xs:element name="Place_PO-Box" type="Field_AN35"/>
                <xs:element name="Country_Code_PO-Box" type="Field_AN2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party Contact -->
    <xs:simpleType name="Segment_Number34">
        <xs:restriction base="xs:string">
            <xs:enumeration value="34"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Contact_person_Tel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Contact_person_Fax">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO34R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number34"/>
                <xs:element name="Contact_Person_Name" type="Field_AN35"/>
                <xs:element name="Contact_person_depar" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="Contact_person_Tel" minOccurs="0"/>
                <xs:element name="Contact_person_Func" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Sex_Code" type="Field_Gender" minOccurs="0"/>
                <xs:element name="Name_Abbrev" type="Field_AN10U" minOccurs="0"/>
                <xs:element ref="Contact_person_Fax" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Party Details -->
    <xs:simpleType name="Segment_Number32">
        <xs:restriction base="xs:string">
            <xs:enumeration value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Address_1">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="House_Number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9 ]*"/>
                <xs:maxLength value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="House_Number_Extsn">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[a-zA-Z ]*"/>
                <xs:maxLength value="3"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Postal_Code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[a-zA-Z0-9 ]*"/>
                <xs:maxLength value="9"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Country_Code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Language_code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Telephone_Number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Telefax_Number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="25"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="VAT-number">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z0-9 ]*"/>
                <xs:maxLength value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO32R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number32"/>
                <xs:element name="Company_Name_1" type="Field_AN35"/>
                <xs:element name="Company_Name_2" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="Address_1" minOccurs="0"/>
                <xs:element ref="House_Number" minOccurs="0"/>
                <xs:element ref="House_Number_Extsn" minOccurs="0"/>
                <xs:element name="Address_3" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="Postal_Code"/>
                <xs:element name="Place_Name" type="Field_AN35"/>
                <xs:element ref="Country_Code"/>
                <xs:element ref="Language_code"/>
                <xs:element ref="Telephone_Number" minOccurs="0"/>
                <xs:element ref="Telefax_Number" minOccurs="0"/>
                <xs:element ref="VAT-number" minOccurs="0"/>
                <xs:element name="Name_abbreviated" type="Field_AN10U" minOccurs="0"/>
                <xs:element name="Address_2" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Address_4" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Party_Id" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Code_List_Agency_CD" type="Field_AN3" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Party -->
    <xs:simpleType name="Segment_Number30">
        <xs:restriction base="xs:string">
            <xs:enumeration value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Party_External_Ref">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="17"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO30R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number30"/>
                <xs:element name="Order_Party_Qual" type="Field_AN3" minOccurs="0"/>
                <xs:element name="Party_External_Ref" type="Field_AN17"/>
                <xs:element name="Client_Ref_to_Order" type="Field_AN17" minOccurs="0"/>
                <xs:element name="GLN_code" type="Field_AN17" minOccurs="0"/>
                <xs:element ref="WEO32R" minOccurs="0"/>
                <!-- FIXME: Element in mentioned in specs but not defined -->
                <!-- <xs:element ref="WEO33R" minOccurs="0"/> -->
                <xs:element ref="WEO34R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO35R" minOccurs="0"/>
                <xs:element ref="WEO36R" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Remarks -->
    <xs:simpleType name="Segment_Number20">
        <xs:restriction base="xs:string">
            <xs:enumeration value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Order_Remark">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="60"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Order_Remark_Qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="T"/>
                <xs:enumeration value="E"/>
                <xs:enumeration value="G"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO20R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number20"/>
                <xs:element ref="Order_Remark"/>
                <xs:element ref="Order_Remark_Qual"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order box contents -->
    <xs:simpleType name="Segment_Number18">
        <xs:restriction base="xs:string">
            <xs:enumeration value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Type_of_package18">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO18R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number18"/>
                <xs:element name="SKU_reference" type="Field_AN35"/>
                <xs:element name="Number_of_pieces" type="Field_N6"/>
                <xs:element name="Type_of_package" type="Type_of_package18" minOccurs="0"/>
                <xs:element name="Number_of_units_MUS" type="Field_N11" minOccurs="0"/>
                <xs:element name="SKU_subdivision" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Country_of_Origin" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Country_of_Despatch" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Custom_Status_From" type="Field_Customs"/>
                <xs:element name="Currency_customs_val" type="Field_AN3" minOccurs="0"/>
                <xs:element name="Goods_value_per_Box" type="Field_N15_2" minOccurs="0"/>
                <xs:element name="PO-Number" type="Field_AN35" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Box -->
    <xs:simpleType name="Segment_Number16">
        <xs:restriction base="xs:string">
            <xs:enumeration value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO16R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number16"/>
                <xs:element name="External_Box_Ref" type="Field_AN35"/>
                <xs:element name="Gross_Volume" type="Field_N9_3" minOccurs="0"/>
                <xs:element name="Gross_Weight" type="Field_N14_6" minOccurs="0"/>
                <xs:element name="Carton_SSCC" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="WEO18R" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Reference -->
    <xs:simpleType name="Segment_Number12">
        <xs:restriction base="xs:string">
            <xs:enumeration value="12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Reference_Qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="EPF"/>
                <xs:enumeration value="ABO"/>
                <xs:enumeration value="PO"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO12R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number12"/>
                <xs:element ref="Reference_Qual"/>
                <xs:element name="Reference_Number" type="Field_Order_Reference17"/>
                <xs:element name="Free_Form_Descr" type="Field_AN35" minOccurs="0"/>
                <!-- FIXME: Date should be CCYYMMDD, but to validate with DSV's an optional CC is used -->
                <xs:element name="Date" type="Field_CC_YYMMDD" minOccurs="0"/>
                <xs:element name="Time" type="Field_HHMM" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line Details -->
    <xs:simpleType name="Segment_Number42">
        <xs:restriction base="xs:string">
            <xs:enumeration value="42"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier42">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Pallet_type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Ref_Identification_qualifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="SSCC"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO42R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="999">
                <xs:element name="Segment_Number" type="Segment_Number42"/>
                <xs:element name="Qualifier" type="Qualifier42"/>
                <xs:element name="Serial_nr_ident" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Number_of_packages" type="Field_N6" minOccurs="0"/>
                <xs:element name="Pallet-ident" type="Field_N6" minOccurs="0"/>
                <xs:element name="Production_number" type="Field_AN10" minOccurs="0"/>
                <xs:element name="Pallet_sequence_nbr" type="Field_N3" minOccurs="0"/>
                <!-- FIXME: Production_date is superseded by the CCYYMMDD version defined later on -->
                <!--<xs:element name="Production_date" type="Field_YYMMDD" minOccurs="0"/>-->
                <xs:element name="Pallet_gross_weight" type="Field_N14_6" minOccurs="0"/>
                <xs:element name="Quality_control_sts" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Ind_cross_docking" type="Field_YN" minOccurs="0"/>
                <xs:element name="Description" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="Pallet_type" minOccurs="0"/>
                <xs:element name="Production_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Warehouse_location" type="Field_AN8" minOccurs="0"/>
                <xs:element ref="Ref_Identification_qualifier"/>
                <xs:element name="Ref_Identification" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Quantity" type="Field_N19_8" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line Remark -->
    <xs:simpleType name="Segment_Number43">
        <xs:restriction base="xs:string">
            <xs:enumeration value="43"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier43">
        <xs:restriction base="xs:string">
            <xs:enumeration value="I"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="G"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO43R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="999">
                <xs:element name="Segment_Number" type="Segment_Number43"/>
                <xs:element name="Qualifier" type="Qualifier43"/>
                <xs:element name="OrderLine_Remark" type="Field_AN60"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Artical Product Code -->
    <xs:simpleType name="Segment_Number45">
        <xs:restriction base="xs:string">
            <xs:enumeration value="45"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Product_Code_Qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="EAN"/>
                <xs:enumeration value="UPC"/>
                <xs:enumeration value="PFP"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO45R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="3">
                <xs:element name="Segment_Number" type="Segment_Number45"/>
                <xs:element ref="Product_Code_Qual"/>
                <xs:element name="Product_Code" type="Field_AN17"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Artical Description Language -->
    <xs:simpleType name="Segment_Number46">
        <xs:restriction base="xs:string">
            <xs:enumeration value="46"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO46R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="11">
                <xs:element name="Segment_Number" type="Segment_Number46"/>
                <xs:element name="Language_Code" type="Field_AN1"/>
                <xs:element name="Article_Desciption" type="Field_AN35"/>
                <xs:element name="Article_Description_long" type="Field_AN128" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Article Customs Commodity -->
    <xs:simpleType name="Segment_Number47">
        <xs:restriction base="xs:string">
            <xs:enumeration value="47"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO47R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="99">
                <xs:element name="Segment_Number" type="Segment_Number47"/>
                <xs:element name="Customs_comm_ref" type="Field_AN22"/>
                <xs:element name="Nbr_per_customs_comm" type="Field_N6"/>
                <xs:element name="_nett_weight" type="Field_N5_2"/>
                <xs:element name="_nett_volume" type="Field_N5_2"/>
                <xs:element name="_customs_value" type="Field_N5_2"/>
                <xs:element name="Descrip_1_cust_comm" type="Field_AN26"/>
                <xs:element name="Descrip_2_cust_comm" type="Field_AN26" minOccurs="0"/>
                <xs:element name="Descrip_3_cust_comm" type="Field_AN26" minOccurs="0"/>
                <xs:element name="Descrip_4_cust_comm" type="Field_AN26" minOccurs="0"/>
                <xs:element name="_VAT" type="Field_N5_2" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Orderline Customs Value -->
    <xs:simpleType name="Segment_Number48">
        <xs:restriction base="xs:string">
            <xs:enumeration value="48"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Customs_value_qual">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="001"/>
                <xs:enumeration value="002"/>
                <xs:enumeration value="003"/>
                <xs:enumeration value="004"/>
                <xs:enumeration value="005"/>
                <xs:enumeration value="006"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO48R">
        <xs:complexType>
            <xs:sequence maxOccurs="6">
                <xs:element name="Segment_Number" type="Segment_Number48"/>
                <xs:element ref="Customs_value_qual"/>
                <xs:element name="Customs_value" type="Field_N15_2"/>
                <xs:element name="Positive-sign" type="Field_YN"/>
                <xs:element name="Invoice_number" type="Field_AN17" minOccurs="0"/>
                <xs:element name="Invoice_date" type="Field_CCYYMMDD" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line Reference -->
    <xs:simpleType name="Segment_Number49">
        <xs:restriction base="xs:string">
            <xs:enumeration value="49"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Reference_qualifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="PO"/>
                <xs:enumeration value="ABO"/>
                <xs:enumeration value="PD"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO49R">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Segment_Number" type="Segment_Number49"/>
                <xs:element ref="Reference_qualifier"/>
                <xs:element name="Reference_number" type="Field_AN35"/>
                <xs:element name="Free_form_descript" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Time" type="Field_HHMM" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SKU Aspect Value -->
    <xs:simpleType name="Segment_Number50">
        <xs:restriction base="xs:string">
            <xs:enumeration value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier50">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO50R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="3">
                <xs:element name="Segment_Number" type="Segment_Number50"/>
                <xs:element name="Qualifier" type="Qualifier50"/>
                <xs:element name="Aspect_val_specified" type="Field_AN8"/>
                <xs:element name="Descript_of_aspect" type="Field_AN35"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SKU Additional Reference -->
    <xs:simpleType name="Segment_Number51">
        <xs:restriction base="xs:string">
            <xs:enumeration value="51"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier51">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MF"/>
            <xs:enumeration value="CN"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="WEO51R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="2">
                <xs:element name="Segment_Number" type="Segment_Number51"/>
                <xs:element name="Qualifier" type="Qualifier51"/>
                <xs:element name="SKU_Reference" type="Field_AN35"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- SKU Identification Number -->
    <xs:simpleType name="Segment_Number52">
        <xs:restriction base="xs:string">
            <xs:enumeration value="52"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Qualifier52">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALL"/>
            <xs:enumeration value="SN"/>
            <xs:enumeration value="VIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="WEO52R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number52"/>
                <xs:element name="Qualifier" type="Qualifier52"/>
                <xs:element name="SKU_ident_nr" type="Field_AN35"/>
                <xs:element name="Idenr_nr_Group_Seq" type="Field_N7" minOccurs="0"/>
                <xs:element name="Idenrnr_palletCrate" type="Field_N7" minOccurs="0"/>
                <xs:element name="Expiry_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="External_Box_number" type="Field_AN35" minOccurs="0"/>
                <xs:element name="External_Pallet_nr" type="Field_AN35" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Order Line -->
    <xs:simpleType name="Segment_Number40">
        <xs:restriction base="xs:string">
            <xs:enumeration value="40"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Type_of_package40">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z ]*"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Reference_identification_qualifier">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="ARF"/>
                <xs:enumeration value="EAN"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO40R">
        <xs:complexType>
            <xs:sequence maxOccurs="999">
                <xs:element name="Segment_Number" type="Segment_Number40"/>
                <xs:element name="Orderline_ID" type="Field_N3"/>
                <xs:element name="Article_Ref" type="Field_AN17" minOccurs="0"/>
                <xs:element name="SKU_Reference" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Customs_Status_from" type="Field_Customs"/>
                <xs:element name="Customs_Status_to" type="Field_Customs" minOccurs="0"/>
                <xs:element name="Country_of_Origin" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Country_of_Despatch" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Currency_customs_val" type="Field_AN3" minOccurs="0"/>
                <xs:element name="UNDG_nummer" type="Field_N4" minOccurs="0"/>
                <xs:element name="UNDG_extension_nr" type="Field_AN1" minOccurs="0"/>
                <xs:element name="Type_of_package" type="Type_of_package40"/>
                <!-- FIXME: Number_of_packages should come here, but to validate with DSV's examples it is moved to after Measure_unit_specifier -->
                <!-- <xs:element name="Number_of_packages" type="Field_N6" minOccurs="0"/> -->
                <xs:element name="Gross_weight_per_type_of_package_in_kilograms" type="Field_N11_3" minOccurs="0"/>
                <xs:element name="Measure_unit_specifier" type="Field_AN3"/>
                <!-- FIXME: Number_of_packages should come before here, but to validate with DSV's examples it is moved to after Measure_unit_specifier -->
                <xs:element name="Number_of_packages" type="Field_N6" minOccurs="0"/>
                <xs:element name="Number_of_units_measure_unit_specifier" type="Field_N11"/>
                <xs:element name="Nett_weight_per_unit_measure_unit_specifier_in_kilograms" type="Field_N11_6" minOccurs="0"/>
                <xs:element name="Number_of_units_measure_unit_specifier_per_type_of_package" type="Field_N6"/>
                <xs:element name="Customs_document_type" type="Field_AN3" minOccurs="0"/>
                <!-- FIXME: Customs_document_number is superseded by the AN21 version defined later on -->
                <!--<xs:element name="Customs_document_number" type="Field_AN8" minOccurs="0"/>-->
                <xs:element name="Orderline_remarks" type="Field_AN35" minOccurs="0"/>
                <xs:element name="SKU_allocation_date" type="Field_N6" minOccurs="0"/>
                <xs:element name="Net_volume_per_unit_measure_unit_specifier" type="Field_N9_6" minOccurs="0"/>
                <xs:element name="Code_type_of_package_1_Type-1" type="Field_AN10U" minOccurs="0"/>
                <xs:element name="Type-1_length_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Type-1_width_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Type-1_height_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Nr_of_units_measure_unit_specifier_per_type-1" type="Field_N6" minOccurs="0"/>
                <xs:element name="Gross_weight_per_type-1_in_kgm" type="Field_N11_3" minOccurs="0"/>
                <xs:element name="Code_type_of_package_2_Type-2" type="Field_AN10U" minOccurs="0"/>
                <xs:element name="Type-2_length_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Type-2_width_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Type-2_height_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Nr_of_type-1_per_type-2" type="Field_N6" minOccurs="0"/>
                <xs:element name="Gross_weight_per_type-2_in_kgm" type="Field_N11_3" minOccurs="0"/>
                <xs:element name="Code_type_of_package-3" type="Field_AN10U" minOccurs="0"/>
                <xs:element name="Type-3_length_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Type_of_package-3_width_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Type-3_height_in_cm" type="Field_N5" minOccurs="0"/>
                <xs:element name="Nr_of_type-2_per_type-3" type="Field_N6" minOccurs="0"/>
                <xs:element name="Gross_weight_per_type-3_in_kgm" type="Field_N11_3" minOccurs="0"/>
                <xs:element name="Alcohol_percentage_per_type-1" type="Field_N6_4" minOccurs="0"/>
                <xs:element name="Code_repackaging_after_entry" type="Field_YN" minOccurs="0"/>
                <xs:element name="Indicator_external_repackaging_department" type="Field_AN1" minOccurs="0"/>
                <xs:element name="Indicator_identical_box_contents" type="Field_YN" minOccurs="0"/>
                <xs:element name="Principal_orderline_reference" type="Field_Order_Reference17" minOccurs="0"/>
                <xs:element name="Measure_unit_specifier_factor" type="Field_N6" minOccurs="0"/>
                <xs:element name="Indicator_quality_check" type="Field_YN" minOccurs="0"/>
                <xs:element name="SKU_allocation_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="SKU_subdivision" type="Field_AN2" minOccurs="0"/>
                <xs:element name="Customs_document_number" type="Field_AN21" minOccurs="0"/>
                <xs:element name="Customs_office" type="Field_AN17" minOccurs="0"/>
                <xs:element name="Document_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Entry_issue_number" type="Field_N6" minOccurs="0"/>
                <xs:element name="Document_reference" type="Field_AN17" minOccurs="0"/>
                <xs:element name="Alternative_fifo_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Supplementary_document_type" type="Field_AN3" minOccurs="0"/>
                <xs:element name="Supplementary_document_number" type="Field_N8" minOccurs="0"/>
                <xs:element name="Supplementary_document_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Supplementary_document_national_preference" type="Field_N3" minOccurs="0"/>
                <xs:element name="Supplementary_document_communautair_preference" type="Field_N3" minOccurs="0"/>
                <xs:element name="Supplementary_document_indicator_free_of_ID" type="Field_AN1" minOccurs="0"/>
                <xs:element ref="Reference_identification_qualifier" minOccurs="0"/>
                <xs:element name="Reference_identification" type="Field_AN35" minOccurs="0"/>
                <xs:element name="Quantity" type="Field_N19_8" minOccurs="0"/>
                <xs:element name="Batch_or_Lot_number" type="Field_AN20U" minOccurs="0"/>
                <xs:element name="Indicator_scan_serial_number_Y_N_E" type="Field_AN1" minOccurs="0"/>
                <xs:element ref="WEO42R" minOccurs="0"/>
                <xs:element ref="WEO43R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO45R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO46R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO47R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO48R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO49R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO50R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO51R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO52R" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Order Element -->
    <xs:simpleType name="Segment_Number10">
        <xs:restriction base="xs:string">
            <xs:enumeration value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Order_Type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="I"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Code_date_expected">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="O"/>
                <xs:enumeration value="F"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Transp_means_Identification">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="17"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Order_Category">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="N"/>
                <xs:enumeration value="C"/>
                <xs:enumeration value="G"/>
                <xs:enumeration value="M"/>
                <xs:enumeration value="H"/>
                <xs:enumeration value="P"/>
                <xs:enumeration value="U"/>
                <xs:enumeration value="L"/>
                <xs:enumeration value="I"/>
                <xs:enumeration value="W"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Location_code_TOD">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Indicator_Transport_Code">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Update_order_Indicator">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="U"/>
                <xs:enumeration value="H"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="Sales_Channel">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="B"/>
                <xs:enumeration value="C"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO10R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number10"/>
                <xs:element ref="Order_Type"/>
                <xs:element name="Indicator_Transport" type="Field_YN"/>
                <xs:element name="Order_Reference" type="Field_Order_Reference16" minOccurs="0"/>
                <xs:element name="Indicator_Labelling" type="Field_YN"/>
                <xs:element name="Indicator_contact_cl" type="Field_YN"/>
                <xs:element ref="Code_date_expected" minOccurs="0"/>
                <xs:element name="Date_Expected" type="Field_YYMMDD" minOccurs="0"/>
                <xs:element name="Terms_of_Delivery" type="Field_AN3" minOccurs="0"/>
                <xs:element ref="Transp_means_Identification" minOccurs="0"/>
                <xs:element ref="Order_Category"/>
                <!-- FIXME: Sales_Channel should come last, but to validate with DSV's examples Remark is added last -->
                <!--<xs:element name="Remark" type="Field_AN35" minOccurs="0"/>-->
                <xs:element ref="Location_code_TOD" minOccurs="0"/>
                <xs:element name="Indicator_External_Repackaging_department" type="Field_YN" minOccurs="0"/>
                <xs:element ref="Indicator_Transport_Code" minOccurs="0"/>
                <xs:element ref="Update_order_Indicator" minOccurs="0"/>
                <xs:element name="Default_Production_date" type="Field_YYMMDD" minOccurs="0"/>
                <xs:element name="Date_expected" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element name="Default_production_date" type="Field_CCYYMMDD" minOccurs="0"/>
                <xs:element ref="Sales_Channel" minOccurs="0"/>
                <!-- FIXME: Sales_Channel should come last, but to validate with DSV's examples Remark is added last -->
                <xs:element name="Remark" type="Field_AN35" minOccurs="0"/>
                <xs:element ref="WEO12R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO16R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO20R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO30R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO40R" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Footer Element -->
    <xs:simpleType name="Segment_Number99">
        <xs:restriction base="xs:string">
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="RecordType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="00"/>
                <xs:enumeration value="05"/>
                <xs:enumeration value="10"/>
                <xs:enumeration value="12"/>
                <xs:enumeration value="16"/>
                <xs:enumeration value="18"/>
                <xs:enumeration value="20"/>
                <xs:enumeration value="30"/>
                <xs:enumeration value="32"/>
                <xs:enumeration value="34"/>
                <xs:enumeration value="35"/>
                <xs:enumeration value="36"/>
                <xs:enumeration value="40"/>
                <xs:enumeration value="42"/>
                <xs:enumeration value="43"/>
                <xs:enumeration value="45"/>
                <xs:enumeration value="46"/>
                <xs:enumeration value="47"/>
                <xs:enumeration value="48"/>
                <xs:enumeration value="49"/>
                <xs:enumeration value="50"/>
                <xs:enumeration value="51"/>
                <xs:enumeration value="52"/>
                <xs:enumeration value="99"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="WEO99R">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Segment_Number" type="Segment_Number99"/>
                <xs:element ref="RecordType"/>
                <xs:element name="Total_Nbrs_of_Rec" type="Field_N6"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Main Element -->
    <xs:element name="WEO">
        <xs:complexType>
            <xs:sequence>
                <!-- FIXME: minOccurs should be default, but to validate with DSV's examples 0 is used -->
                <xs:element ref="WEO00R" minOccurs="0"/>
                <xs:element ref="WEO05R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO10R" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="WEO99R" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

